img {
  max-height: 250px;
  max-width: 300px;
  padding: 5px;
}
button {
  background-color: black;
  color: #dc635b;
  border-radius: 40%;
}
body {
background-image: url("./images/bro.png");  
margin-left: 50%;
  margin-right: 10%;
}
label {
  color: #dc635b;
  background-color: black;
  border-radius: 20%;

}
input {
  background-color: #dc635b;
  font: black;
}
h1 {
  color: black;
  background-color: #dc635b;
  max-width: 100px;
}
p {
  color: black;
  background-color: #dc635b;
}